<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <div class="lead mb-3">
      There are <%= errors.count %> errors on the form
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
