<div class="row w-100 mx-0">
  <div class="col-lg-6 offset-lg-3">
    <h1 class="mb-4"><%= t('views.events.edit.title') %></h1>

    <%= render 'form' %>

    <%= link_to t('views.links.event'), @event %> |
    <%= link_to t('views.links.events'), events_path %>
  </div>
</div>
