<h1><%= t('views.events.list.title') %></h1>

<div class="my-3">
  <%= link_to t('views.events.new.add'), new_event_path, class: 'btn btn-primary' %>
</div>

<div class="row mb-3" data-masonry='{"percentPosition": true }'>
  <%= render partial: 'events/event', collection: @events %>
</div>

