<span class="subscription">
  <% if subscription.user.present? %>
    <%= render partial: 'users/user', object: subscription.user %>
  <% else %>
    <em><%= subscription.user_name %></em>
  <% end %>
  <% if current_user_can_edit?(subscription) %>
    <%= button_to fa_icon('x'),
                  event_subscription_path(subscription.event, subscription),
                  form: {data: {turbo_confirm: t('views.subscriptions.subscription.destroy_confirm')}},
                  method: :delete,
                  class: 'bg-transparent border-0',
                  form_class: 'd-inline'%>
  <% end %>
</span>
