<p><%= t('views.mailer.confirmation.greeting') %> <%= @email %>!</p>

<p><%= t('views.mailer.confirmation.message') %></p>

<p><%= link_to t('views.mailer.confirmation.action'), confirmation_url(@resource, confirmation_token: @token) %></p>
